

/*HTML*/

/*body*/
.tupperware{
    width: 66%;
    align-content: left;
    padding: 2em;
    
}
.tupperwareTwo{
    width: 33%;
    align-content: right;
    padding: 2em;
}

/*General Use*/
.DayTime {
    background-image: url("/assets/media/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif;
    padding:5px;
    margin: 0em 1em 0em 1em;
    z-index: -1;
}

.afterDark{
    background-image: url("/assets/media/campfire.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif;
    padding:5px;
    margin: 0em 1em 0em 1em;
    z-index: -1;
}
.back2{
    background-image: url("/assets/media/trail1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 38rem;
    min-width: 100%;
     border: 3px #799573 solid;
}
.back3{
    background-image: url("/assets/media/trail2.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 38rem;
    min-width: 100%;
     border: 3px #799573 solid;

}
 .break {
     border: 3px #f97f1b solid;
     border-radius: 5px;
    
}

/*header*/
.bigGreet{
    
}
.greeting{
    background-image: url(/assets/media/headerimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1em solid #f97f1b;
   
    
}
.greeting-content{
    text-align: center;
    color: #f97f1b;
    font-family: Lato, sans-serif;
}

.greetme{
    font-size: 10em;
}


header {
   color: #f97f1b;
   text-align: center;
    
}
/* dark mode */
.switch{
    background-color: yellow;

}
.aDcontent{
    background-color: #ffffff;
    
}
.formIt{
    color: #f97f1b;

}
#triplist{
    text-align: center;
    min-height: 50%;
    min-width: 66%;
}
div .helper{
    background-color: rgba(0, 0, 0, .55);
    width: 75vh;
    margin-left: auto;
    margin-right: auto;
}
/*Map Style*/
div #map{
    height: 100%;
    min-height: 360px;
    padding: 2em; 
    border-radius: 4px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.maprow{ 
    margin: 0em 1em 0em 1em
    }

.mapcol{
    padding: 1em;
}
.customMarker{
    color: black;
    font-family: Roboto, sans-serif;
    
}
.infowindow {
     background-color: #ffa052;
}

.add{
    font-size: inherit;
    
}

.add:hover{
    color: purple;
}
.add:visited{
    color: orange;
}
.lister{
    background-image: url("/assets/media/paper.jpg");
    height: 100%;
    min-height: 360px;
    border-radius: 4px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0em 1em 0em 1em;
    padding: 2em;

}
.listerlist{
    color: black;
    font-family: Roboto, sans-serif;
}   

/*footer*/
i {
    font-size: 2em;
    color: #799573;
    margin: .5em;
    background-color: #e9ecef;
    padding: 0;
    border-radius: 5px;
}
.icons {
    display: inline-block;
    padding: 0;
}
.space{
    margin-left: auto;
    margin-right: auto;
}
/*information section*/
.information{
     background-color: #2D4934;
     border-radius: 3em;
     display: inline-block;
     padding: 2em;
     border: 3px solid #799573;
     color: #f9f4f0;
}
.interest{
    min-width: 100%;
}
.infohead{
    text-align: center;
}